{% extends "basic_app/base.html" %}
  {% load humanize %}
  {% load static %}
  {% block body_block %}
     <div class="main">
        <div class="content">
        	<div class="content_top">
        		<div class="heading">
        		<h3>Feature Products</h3>
        		</div>
        		<div class="sort">
        		<p>Sort by:
        			<select>
        				<option>Lowest Price</option>
        				<option>Highest Price</option>
        				<option>Lowest Price</option>
        				<option>Lowest Price</option>
        				<option>Lowest Price</option>
        				<option>In Stock</option>
        			</select>
        		</p>
        		</div>
        		<div class="show">
        		<p>Show:
        			<select>
        				<option>4</option>
        				<option>8</option>
        				<option>12</option>
        				<option>16</option>
        				<option>20</option>
        				<option>In Stock</option>
        			</select>
        		</p>
        		</div>
        		<div class="page-no">
        			<p>Result Pages:<ul>
        				<li><a href="#">1</a></li>
        				<li class="active"><a href="#">2</a></li>
        				<li><a href="#">3</a></li>
        				<li>[<a href="#"> Next>>></a >]</li>
        				</ul></p>
        		</div>
        		<div class="clear"></div>
        	</div>
    	      <div class="section group">
              {% for prod in prod_in_type %}



                <div class="grid_1_of_4 images_1_of_4">
                   <a href="{% url "basic_app:detail_sub" %}{{prod.id_url.url}}"><img src=" {% get_static_prefix %}images/products-images/{{prod.image}}" /></a>
                   <!-- <div class="discount">
                      <span class="percentage">?%</span>
                    </div> -->
                   <div  class="title" href="{% url "basic_app:detail_sub" %}{{prod.id_url.url}}">
                     <div class="">
                       <a href="{% url "basic_app:detail_sub" %}{{prod.id_url.url}}">{{prod.name|truncatechars:20}}</a>
                     </div>
                   </div>
                   <!-- <div class="description_text">
                     {{prod.detail}}
                   </div> -->
                   <hr class="hr_margin">
                   <div class="row div_price_container">
                      <p class="col-12 row price align-items-center">
                            {% if prod.promotion_price %}
                               <span class="strike ">{{prod.price|floatformat:0 | intcomma }}₫</span>
                                <span class="price_child ">{{prod.promotion_price|floatformat:0 | intcomma }}₫</span>
                             {% else %}
                                 <span class="price_child col-12">{{prod.price|floatformat:0 | intcomma }}₫</span>
                             {% endif %}
                       </p>
                     </div>
                    <hr class="hr_margin">


                        <div class="button cart_button" id = "{{prod.id}}" data-id="{{prod.id}}">
                          <span>
                            <!-- <img src=" {% static "images/cart.jpg"  %} " alt="" /> -->
                            <a class="cart-button btn btn-primary ">Add to Cart
                            </a>
                          </span>
                        </div>
                         <div class="button">
                           <span>
                             <a href="{% url "basic_app:detail_sub" %}{{prod.id_url.url}}" class="details">Details</a>
                           </span>
                         </div>
                </div>



              {% endfor %}
    			</div>



    			<div class="section group">



    			</div>
        </div>
     </div>
  {% endblock %}
