{% extends "basic_app/base.html" %}
  {% load static %}
  {% block body_block %}



     <div class="main">
        <div class="content d-flex justify-content-center">
        	 <div class="login_panel">
            	<h3>Reset password(confirmed)</h3>
            	<p>Sign in with the form below.</p>

                {% if validlink %}
                  	<form method="post" id="member">
                      {% csrf_token %}
                      {{form.as_p}}
                      <p class="note">If you forgot your passoword just enter your email and click <a href="#">here</a></p>
                            <div  class="buttons">
                              <div>
                                <button class="grey">Send email</button>
                              </div>
                            </div>
                    </form>
                {% else %}
                    <p> Invalid Token</p>
                    <p><a href="{% url  "password_reset" %}">Request password again</a></p>
                {% endif %}
            </div>


           <div class="clear"></div>
        </div>
     </div>
  {% endblock %}
